In [17]:
# Import packages
import pandas as pd
pd.set_option("display.max_columns", 100)

In [3]:
jobs_unfiltered = pd.read_excel("jobs.xlsx")

In [26]:
columns_to_drop = ["Foundation school",
                   "Linked Preference",
                   "Programme Title",
                   "Programme Description",
                   "Programme Duration",
                   "Places Available", 
                   "Pattern",
                   "Placement 1: Year",
                   "Placement 1: Employer/Trust",
                   "Placement 1: Location",
                   "Placement 1: Description",
                   
                   "Placement 2: Year",
                   "Placement 2: Employer/Trust",
                   "Placement 2: Location",
                   "Placement 2: Description",
                   
                   "Placement 3: Year",
                   "Placement 3: Employer/Trust",
                   "Placement 3: Location",
                   "Placement 3: Description",
                   
                   "Placement 4: Year",
                   "Placement 4: Employer/Trust",   
                   "Placement 4: Location",
                   "Placement 4: Description",
                   
                   "Placement 5: Year",
                   "Placement 5: Employer/Trust",
                   "Placement 5: Location",
                   "Placement 5: Description",
                   
                   "Placement 6: Year",
                   "Placement 6: Employer/Trust",
                   "Placement 6: Location"]

jobs_filtered = jobs_unfiltered.drop(columns = columns_to_drop)

In [27]:
jobs_filtered.head()

,Programme Preference,Placement 1: Site,Placement 1: Specialty,Placement 2: Site,Placement 2: Specialty,Placement 3: Site,Placement 3: Specialty,Placement 4: Site,Placement 4: Specialty,Placement 5: Site,Placement 5: Specialty,Placement 6: Site,Placement 6: Specialty
0,19/LDN/NC/RAL01/F1/01,ROYAL FREE HOSPITAL (RAL01),Acute internal medicine,ROYAL FREE HOSPITAL (RAL01),General Surgery,ROYAL FREE HOSPITAL (RAL01),Rheumatology,NORTH MIDDLESEX HOSPITAL (RAPNM),Trauma and Orthopaedic Surgery,NORTH MIDDLESEX HOSPITAL (RAPNM),Emergency Medicine,ST ANN'S HOSPITAL (BEH-MHT SERVICES) (RRP03),General Psychiatry
1,19/LDN/NC/RAL01/F1/02,ROYAL FREE HOSPITAL (RAL01),General Surgery,ROYAL FREE HOSPITAL (RAL01),Rheumatology,ROYAL FREE HOSPITAL (RAL01),Acute internal medicine,THE WHITTINGTON HOSPITAL (RKEQ4),Emergency Medicine,THE WHITTINGTON HOSPITAL (RKEQ4),Gastroenterology,Highgate Acute Health Centre (TAF72),General Psychiatry
2,19/LDN/NC/RAL01/F1/03,ROYAL FREE HOSPITAL (RAL01),Rheumatology,ROYAL FREE HOSPITAL (RAL01),Acute internal medicine,ROYAL FREE HOSPITAL (RAL01),General Surgery,BARNET HOSPITAL (RAL26),Trauma and Orthopaedic Surgery,"Barnet Liaison Service, Barnet Hospital",General Psychiatry,BARNET HOSPITAL (RAL26),Emergency Medicine
3,19/LDN/NC/RAL01/F1/04,ROYAL FREE HOSPITAL (RAL01),Cardiology,ROYAL FREE HOSPITAL (RAL01),General Surgery,ROYAL FREE HOSPITAL (RAL01),Medical Oncology,THE WHITTINGTON HOSPITAL (RKEQ4),Emergency Medicine,Highgate Acute Health Centre (TAF72),General Psychiatry,THE WHITTINGTON HOSPITAL (RKEQ4),Trauma and Orthopaedic Surgery
4,19/LDN/NC/RAL01/F1/05,ROYAL FREE HOSPITAL (RAL01),General Surgery,ROYAL FREE HOSPITAL (RAL01),Medical Oncology,ROYAL FREE HOSPITAL (RAL01),Cardiology,NORTH MIDDLESEX HOSPITAL (RAPNM),Emergency Medicine,North Middlesex - General Practice Site (RAPGP),General Practice,NORTH MIDDLESEX HOSPITAL (RAPNM),Geriatric Medicine

In [28]:
jobs_dict = {"General Surgery": -1}

In [37]:
jobs_with_points = jobs_filtered.copy()
for column in jobs_filtered.columns:
    jobs_with_points[column] = jobs_filtered[column].map(jobs_dict)

In [46]:
jobs_filtered["total_points"] = jobs_with_points.sum(axis=1)

In [49]:
jobs_filtered_sorted = jobs_filtered.sort_values(by=["total_points"])

In [50]:
jobs_filtered_sorted.to_excel("jobs_sorted.xlsx")